@font-face {
    font-family: "Articulat";
    font-style: thin;
    font-weight: 100;
    src: url("/fonts/articulatcf-thin.woff") format("woff"),
         url("/fonts/articulatcf-thin.woff2") format("woff2");
}


@font-face {
    font-family: "Articulat";
    font-style: light;
    font-weight: 200;
    src: url("/fonts/articulatcf-extralight.woff") format("woff"),
         url("/fonts/articulatcf-extralight.woff2") format("woff2");
}

@font-face {
    font-family: "Articulat";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/articulatcf-light.woff") format("woff"),
         url("/fonts/articulatcf-thin.woff2") format("woff2");
}

@font-face {
    font-family: "Articulat";
    font-style: bold;
    font-weight: 900;
    src: url("/fonts/articulatcf-bold.woff") format("woff"),
         url("/fonts/articulatcf-bold.woff2") format("woff2");
  }