main{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;

  #just-bled{
    display: block;
    border: 8px solid darkgreen;
    width: 100%;
    filter: drop-shadow(8px 8px 4px rgba(216, 101, 0, 0.5));
  }

  #dancing-baby{
    height: 420px;
    position: absolute;
    right: 5%;
    bottom: -20px;
  }

  #top-secret-folder{
    display: block;
    position: absolute;
    border: 4px dotted black;
    height: 86px;
    z-index: 99;
    top: 200px;
    left: 100px;

    @media only screen and (max-width: 844px){
      display: none;
    }
  }
}