@import 'reset';
@import 'typography';
@import 'nav';
@import 'index';
@import 'single';

body{ background-image: url("/img/background.jpeg"); }

#credit{
  margin-left: auto;
  margin-right: 2.5%;
  filter: drop-shadow(8px 8px 4px rgba(0, 216, 101, 0.5));
}