nav{
  background-color: yellow;
  padding: 16px;
  border: 4px solid darkmagenta;
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
  filter: drop-shadow(8px 8px 4px rgba(0, 83, 216, 0.5));
  p{
    color: orangered; 
    margin-left: 8px 16px;
    font-size: 32px;
  }
  ul{
    display: flex;
    max-width: 1440px;
    li{
      padding: 0 16px;
    }
  }
}