h1, h2, h3, h4, h5, h6, p, li { 
    // font-family: 'Comic-Sans';
    font-family: "Comic Sans MS", "Comic Sans";
}

a{
  color: blue;
  &:visited { color: blue;}
  &:hover{ color: orangered; }
}

h1 {
  font-size: clamp(36px, 4vw, 48px);
  margin: 4rem 0 2rem 0;
}

h2 {
  font-size: clamp(26px, 3vw, 34px);
  margin: 3.5rem 0 1.25rem 0;
}
h3 {
  font-size: clamp(20px, 3vw, 24px);
  margin: 2rem 0 1rem 0;
}
h4 {
  font-size: clamp(18px, 3vw, 20px);
  margin: 2rem 0 1rem 0;
}


#credit{
  background-color: yellow;
  border: 4px solid royalblue;
  color: black;
  padding: 16px;
  margin: 32px 0;
  width: 420px;
}