<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon }}" sizes="16x16">
    {{ partial "meta" . }}
    {{ partial "scss" . }}
    <title>
      {{ .Site.Title }}
    </title>
  </head>

  <body>
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "scripts" . }}
  </body>
</html>