<nav id="sitenav">
  <p>Nav:</p>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="https://www.tapology.com/groups/651" noref="noopener" target="_blank">Tapology Group</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/support">Support</a></li>
  </ul>
</nav>