{{ define "main" }}
  <main>
    <img id="just-bled" src="/img/JustBled.png" alt="T-Bone with Just Bled written on his chest.">
    <img id="top-secret-folder" src="/img/folder-icon.png" alt="A folder with top secret information">
    <img id="dancing-baby" src="/img/dancing-baby.gif" alt="Geocities dancing baby">
    {{ partial "footer" . }}
  </main>
{{ end }}